@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inika:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inder:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-arima-madurai: "Arima Madurai";
  --font-inria-serif: "Inria Serif";
  --font-inika: Inika;
  --font-inter: Inter;
  --font-arvo: Arvo;
  --font-inder: Inder;

  /* font sizes */
  --font-size-6xl: 25px;
  --font-size-26xl: 45px;
  --font-size-16xl: 35px;
  --font-size-31xl: 50px;
  --font-size-46xl: 65px;
  --font-size-xl: 20px;
  --font-size-11xl: 30px;
  --font-size-8xl-3: 27.3px;
  --font-size-15xl-2: 34.2px;
  --font-size-mid-9: 17.9px;
  --font-size-mid-1: 17.1px;
  --font-size-7xl: 26px;
  --font-size-42xl-5: 61.5px;
  --font-size-14xl: 33px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-gray-100: #141111;
  --color-gray-200: rgba(255, 255, 255, 0);
  --color-white: #fff;
  --color-black: #000;
  --color-dimgray: rgba(106, 97, 97, 0.28);
  --color-goldenrod: #dd9c0f;
  --color-gainsboro: #d9d9d9;
  --color-orangered: rgba(249, 67, 9, 0.65);
  --color-khaki: rgba(224, 195, 93, 0.55);
  --color-powderblue: #b8e3e9;
  --color-red: rgba(240, 7, 7, 0.77);

  /* Gaps */
  --gap-28xl: 47px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-xs: 12px;
  --padding-6xs: 7px;
  --padding-6xl: 25px;
  --padding-mini: 15px;
  --padding-7xs: 6px;

  /* Border radiuses */
  --br-lgi: 19px;
  --br-xl: 20px;
  --br-3xs: 10px;
  --br-5xl: 24px;
  --br-mini: 15px;
  --br-97xl-5: 116.5px;
  --br-41xl: 60px;
}
